swagger: "2.0"
info:
  version: "1.0.0"
  title: Squadify API
host: api.squadify.me
schemes:
  - https

paths:
  /v1/user:
    get:
      tags:
        - Users
      summary: Retrieve user and squads
      operationId: getUser
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SquadifyUserAndSquads"
        "401":
          description: Unauthorised
  /v1/squads:
    post:
      tags:
        - Squads
      summary: Create squad
      operationId: createSquad
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Squad"
        "401":
          description: Unauthorised
  /v1/squads/{squadId}:
    put:
      tags:
        - Squads
      summary: Update squad
      operationId: updateSquad
      parameters:
        - $ref: "#/parameters/SquadId"
        - name: body
          in: body
          required: true
          description: Updated squad details
          schema:
            $ref: "#/definitions/UpdateSquadRequest"
      responses:
        "204":
          description: Updated
        "401":
          description: Unauthorised
        "403":
          description: Forbidden
        "404":
          description: Not Found
    delete:
      tags:
        - Squads
      summary: Delete squad
      operationId: deleteSquad
      parameters:
        - $ref: "#/parameters/SquadId"
      responses:
        "204":
          description: Deleted
        "401":
          description: Unauthorised
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /v1/squads/{squadId}/members/{username}:
    put:
      tags:
        - Squad members
      summary: Add squad member (approve join request)
      operationId: createMember
      parameters:
        - $ref: "#/parameters/SquadId"
        - $ref: "#/parameters/Username"
      responses:
        "201":
          description: Created
        "204":
          description: Already exists
        "401":
          description: Unauthorised
        "403":
          description: Forbidden
        "404":
          description: Not Found
    delete:
      tags:
        - Squad members
      summary: Remove squad member
      operationId: deleteMember
      parameters:
        - $ref: "#/parameters/SquadId"
        - $ref: "#/parameters/Username"
      responses:
        "204":
          description: Deleted
        "401":
          description: Unauthorised
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /v1/squads/{squadId}/requests:
    put:
      tags:
        - Squad members
      summary: Request to join a squad
      operationId: createRequest
      parameters:
        - $ref: "#/parameters/SquadId"
      responses:
        "201":
          description: Created
        "204":
          description: Already exists
        "401":
          description: Unauthorised
        "404":
          description: Not Found
  /v1/squads/{squadId}/requests/{username}:
    delete:
      tags:
        - Squad members
      summary: Reject a join request
      operationId: deleteRequest
      parameters:
        - $ref: "#/parameters/SquadId"
        - $ref: "#/parameters/Username"
      responses:
        "204":
          description: Deleted
        "401":
          description: Unauthorised
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /v1/squads/{squadId}/playlist:
    post:
      parameters:
        - $ref: "#/parameters/SquadId"
      tags:
        - Playlists
      summary: Create playlist
      operationId: createPlaylist
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Playlist"
        "401":
          description: Unauthorised
        "403":
          description: Forbidden
        "404":
          description: Not Found

definitions:
  SquadifyUserAndSquads:
    type: object
    required:
      - user
      - squads
    properties:
      user:
        $ref: "#/definitions/SquadifyUser"
      squads:
        type: array
        items:
          $ref: "#/definitions/Squad"
  SquadifyUser:
    type: object
    required:
      - username
      - name
    properties:
      username:
        type: string
        example: johnny_baines
      name:
        type: string
        example: John
  Squad:
    type: object
    required:
      - squadId
      - name
      - owner
      - members
      - requests
    properties:
      squadId:
        type: string
        example: mZgdgmg7oEbA
      name:
        type: string
        example: The Gang
      owner:
        $ref: "#/definitions/SquadifyUser"
      members:
        type: array
        items:
          $ref: "#/definitions/SquadifyUser"
      requests:
        type: array
        items:
          $ref: "#/definitions/SquadifyUser"
      playlist:
        $ref: "#/definitions/Playlist"
  Playlist:
    type: object
    required:
      - url
    properties:
      url:
        type: string
        example: https://open.spotify.com/playlist/37i9dQZF1DWVzZlRWgqAGH
  UpdateSquadRequest:
    type: object
    required:
      - name
    properties:
      name:
        type: string
        example: The Boys

parameters:
  SquadId:
    name: squadId
    in: path
    required: true
    description: Unique identifier for the squad
    type: string
  Username:
    name: username
    in: path
    required: true
    description: Spotify username
    type: string